:root{
    --header-height:3rem;
    //Colors
    --title-color:#0b0a0a;
    --text-color:#403a3a;
    --text-color-light:#707070;
    --container-color:#fafafa;
    --container-color-alt:#ffffff;
    --body-color:#f0f0f0;
    // --body-color2:#5a80fa;
    
    // #606dfa
    // font and typography
    // --body-font:;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem; 
    --h3-font-size:1rem;
    --normal-font-size:0.938rem;
    --small-font-size:0.813rem;
    --smaller-font-size:0.875rem;
    //margin-size
    --mb-1:0.5rem;
    --mb-2:1rem;
    --mb-3:1.5rem;
    // FontWeight
    // --font-medium:;
    // --font-semi-bold:;
    //z index
    --z-tooltip:10;
    --z-fixed:100;
    }