@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
:root {
  --header-height:3rem;
  --title-color:#0b0a0a;
  --text-color:#403a3a;
  --text-color-light:#707070;
  --container-color:#fafafa;
  --container-color-alt:#ffffff;
  --body-color:#f0f0f0;
  --h1-font-size:1.5rem;
  --h2-font-size:1.25rem;
  --h3-font-size:1rem;
  --normal-font-size:0.938rem;
  --small-font-size:0.813rem;
  --smaller-font-size:0.875rem;
  --mb-1:0.5rem;
  --mb-2:1rem;
  --mb-3:1.5rem;
  --z-tooltip:10;
  --z-fixed:100;
}

@media screen and (max-width: 968px) {
  .nav_menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 4.8rem 1.7rem;
    background-color: var(--body-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 1rem 1rem 0 0;
    z-index: var(--z-fixed);
    transition: 0.35s;
  }
}
@media screen and (max-width: 320px) {
  .nav_list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem 5rem;
  }
}
@media screen and (min-width: 968px) {
  body {
    margin: 3rem 0;
  }

  .nav-container {
    margin-left: auto;
    margin-right: auto;
  }

  .header,
.scrolltop {
    display: none;
  }

  .main_resume {
    display: grid;
    grid-template-columns: 0.55fr 1fr;
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
  }
  .main_resume_left {
    background-color: #8592ff;
  }
  .main_left, .main_right {
    padding: 0 1.5rem;
  }
}
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, ul, p {
  margin: 0;
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: 500;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 1.5rem 0;
}
.section-title {
  font-size: var(--h2-font-size);
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
}

.bd-grid {
  display: grid;
  grid-gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.3);
  transition: 0.35s;
}

.nav-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_link {
  display: flex;
  flex-direction: column;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  font-weight: 400;
}
.nav_link:hover {
  color: var(--title-color);
}
.nav_link img {
  width: 30px;
  height: 30px;
  margin-left: 32px;
}
.nav_link span {
  padding-top: 10px;
  color: #0b0a0a;
  padding-left: -5px;
}
.nav_logo {
  background: linear-gradient(to right, #2c15f3, #058af7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.nav_logo, .nav_toggle {
  color: var(--title-color);
  font-weight: 500;
}
.nav_toggle {
  font-size: 1.2rem;
  cursor: pointer;
}
.nav_item {
  text-align: center;
}
.nav_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.nav_item:nth-child(7) {
  grid-column: 2/3;
}
.nav-icon {
  font-size: 1.2rem;
  margin-bottom: var(--mb-1);
}

.show-menu {
  bottom: var(--header-height);
}

.active-link {
  color: var(--title-color);
}

.home {
  position: relative;
}
.home_container {
  grid-gap: 3rem;
}
.home_data {
  grid-gap: 0.5rem;
  text-align: center;
}
.home_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: var(--mb-1);
}
.home_title {
  background: linear-gradient(to right, #2c15f3, #058af7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.home_profession {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-1);
}
.home_address {
  grid-gap: 1rem;
}
.home_information {
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
}
.home_icon {
  font-size: 1.5rem;
  margin-left: 2.5rem;
}
.home_button-movil {
  display: inline-block;
  border: 2px solid var(--title-color);
  color: var(--title-color);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  transition: 0.3s;
  font-weight: 400;
  margin-top: var(--mb-3);
}
.home_button-movil:hover {
  background-color: var(--text-color);
  color: var(--container-color);
}

.social_container {
  grid-template-columns: max-content;
  grid-gap: 1rem;
}
.social_link {
  color: #424242;
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size);
}
.social_link:hover {
  color: var(--title-color);
}
.social_icon {
  font-size: 1.5rem;
  margin-left: 2.5rem;
}

.profile-description {
  margin-left: 0.5rem;
}

.education_content {
  display: flex;
}
.education_time {
  padding-right: 1rem;
}
.education_studies, .education_year, .education_faculty, .education_major {
  position: relative;
  padding-left: 1.5rem;
}
.education_studies::before, .education_year::before, .education_faculty::before, .education_major::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  top: 45%;
  transform: translateY(-50%);
  background-color: var(--text-color-light);
  border-radius: 50%;
  margin-top: 0.25rem;
}

.skills_content {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
}
.skills_name {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-3);
}
.skills_circle {
  position: relative;
  padding-left: 2.5rem;
}
.skills_circle:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 0;
  left: 50%;
  transform: translateY(-50%);
  background-color: var(--text-color);
  border-radius: 50%;
  margin-right: 0.75rem;
}

.experience_data {
  margin-left: 1rem;
}
.experience_project {
  position: relative;
  padding-left: 1.3rem;
}
.experience_project:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--text-color);
  border-radius: 50%;
}

.certificate_data {
  margin-left: 1rem;
}
.certificate_title {
  position: relative;
  padding-left: 1.3rem;
}
.certificate_title:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--text-color);
  border-radius: 50%;
}

.interests_container {
  grid-template-columns: repeat(3, 1fr);
  margin-top: var(--mb-2);
}
.interests_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.interests_icon {
  font-size: 1.5rem;
  color: var(--text-color-light);
  margin-bottom: 0.25rem;
}

.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background-color: var(--container-color-alt);
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}
.scrolltop_icon {
  color: var(--text-color);
  font-size: 1.2rem;
}

.show-scroll {
  visibility: visible;
  bottom: 5rem;
}

/*# sourceMappingURL=style.css.map */
